.mainpanel {
    height: 100%;
    width: 85%;
    display:block;
    float: right;
    background-color: whitesmoke;
}
.altmainpanel {
    display:flex;
    justify-content: center;
    align-content: center;
    background-color: whitesmoke;
  }
.mainschool{
    height: 20%;
    width: 100%;
    display: block;
    font-style: italic;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 1.5;
    font-family: "Merriweather", serif;
    color: black;
    border-bottom: 3px solid blue;
}
.AverageBtn{
    height: 50%;
    width: 100%;
}
.AverageBtnlft{
   float: left;
   font-size: 30px;
   font-style: normal;
   margin-left: 3%;
   margin-top: 2%;
   font-family: -webkit-body;
   font-weight: bold;
   letter-spacing: 3px;
}
.AverageBtnrft{
    float: right;
    margin-right: 3%;
    margin-top: 2%;
}
.showavg{
    margin :2% auto;
    background-color: white;
    border-radius: 8px;
    width:80%;
    height: 40%;
    justify-content: center;
}
.totalclsavg{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: "Merriweather", serif;
    font-size: 25px;
    color: black;

}
.tolstudent{
    float: left;
    font-size: 15px;
   font-style: normal;
   font-weight: bold;
   margin-left: -6.5%;
   margin-top: 2.8%;
   font-family: -webkit-body;
   letter-spacing: 1px;
}
.clsAverage{
    clear: both;
    height: 50%;
    width: 100%;
}
.studentmarks{
    height: 80%;
    width: 100%;
    font-weight: 200px;
    letter-spacing: 1px;
    line-height: 3.5;
    font-family: "Merriweather", serif;
    color: black;
    display: block;
}
.gridcontainer{
    height: 100%;
    width: 100%;
    display: grid;
    border-radius: 10px;
    justify-content: space-around;
    grid-gap: 5px;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    max-height: 300px;
    margin-top: 2%;
}
.gridcontainer > div{
    background-color: white;
    height: 100%;
    width: 90%;
    border-radius: 10px;
}
.studentname{
    padding: 9px 12px;
    display: inline;
}
.studentnameul{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}
.studentnameli{
clear: both;
width: 100%;
}
.height30{
height:30%;
}
.height70{
    height:70%;
    }
    .width30{
        width:30%;
    }
    .width60{
        width:60%;
    }
    .width10{
        width:10%;
    }

.leftalign{
    float: left;
    padding-left: 15px;
    font-style: italic;
    letter-spacing: 1px;
    font-family: "Merriweather", serif;
    color: blue;
}

.righttalign{
    float:right;
    padding-right: 15px;
    font-style: italic;
    font-weight: 70px;
    letter-spacing: 1px;
    font-family: "Merriweather", serif;
    color: blue;
}
.leftalign1{
    color: black;
    font-size: 13px;
}
.righttalign1{
    color: skyblue;
    font-size: 13px;
}
.subjectspan1{
    float: left;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.height10{
    height: 10%;
}
.height20{
    height: 20%;
}
.subjectspan2{
    height: 20%;
    display: flex;
    float: right;
    align-items: center;
    font-style: italic;
    letter-spacing: 1px;
    font-family: "Merriweather", serif;
    font-size: 13px;
}
.float-R{
    padding-left:3px;
}
.container {
    width: 80%;
    height:10%;
    background-color: #ddd;
    border-radius: 5px;
  }
  
  .skills {
    text-align: right;
    color: white;
    height:5%;
    border-radius: 5px;
  }
  
  .css {height:100%; background-color: #2196F3;}

